<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/admin/admin-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/admin/admin-nav.ejs") %>
            <section class="main-right-form floatfix">
                <form >
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" value="<%= userName %>" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text"  id="readerEmail" value="<%=user.adminEmail%>">
                    </div>
                    <div class="main-right-form-file form-group">
                        <label>头像</label>
                        <img src="<%= userImg %>" alt="" id="js-upload-img">
                        <input id="js-upload-input" type="file" value="">
                    </div>
                    <%- include("./../public/form-btn.ejs")%>
                </form>
            </section>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/public/require.js" type="text/javascript" charset="utf-8"></script>
<script>
  requirejs.config({
    baseUrl: "/js",
    paths:{
      hajax: "public/hajax",
      jquery: "public/jquery",
      hlayer: "./hlayer/hlayer",
      "form-reset": "public/form-reset",
      upload: "public/upload"
    },
    shim: {
      hajax: {exports: "hajax"},
      hlayer: {exports: "hlayer"},
      jquery: {exports: "jquery"},
      "form-reset": {exports: "form-reset"},
      upload: {exports: "upload"}
    }
  });
  requirejs(['jquery', 'upload', 'hajax', 'form-reset'], function($, upload, hajax, formReset) {
    formReset();
    upload();
    $('#save').click(function(){
      hajax.hformAjax({
        input:{readerEmail:'readerEmail'},
        attr: {'readerImgSrc': ['js-upload-img','src']},
        redirect:'/admin'
      });
    })
  });
</script>
</body>
</html>