<!DOCTYPE html>
<html>
    <%- include("./../public/back/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/back/sidebar.ejs") %>
			<div class="user-right">
				<%- include("./../public/back/userinfo.ejs") %>
				<div class="user-oparate">
				<%if(user.readerGroup){%>
					<form form-data="user" id="user-form">
						<div class="form-group" >
							<label for="">用户名：</label>
							<input type="text" value="<%=user.readerName%>" id="readerName">
						</div>
						<div class="form-group">
							<label for="">性别：</label>
							<div class="radio">
								<label class="radio-inline"><input type="radio" name="sex" value="" <%if(user.readerSex=="男"){%> checked<%}%> >男</label>
								<label class="radio-inline"><input type="radio" name="sex" value="" <%if(user.readerSex=="女"){%> checked<%}%> >女</label>
							</div>
						</div>
						<div class="form-group">
							<label for="">学号：</label>
							<input type="text" id="studentNumber" value="<%=user.studentNumber%>">
						</div>
						<div class="form-group">
							<label for="">邮箱：</label>
							<input type="text" id="readerEmail" value="<%=user.readerEmail%>" >
						</div>
						<div class="form-group">
							<label for="">手机：</label>
							<input type="text" id="readerPhone" value="<%=user.readerPhone%>" >
						</div>
						<div class="form-group">
							<label for="">厚朴组：</label>
							<div class="radio">
							 <%for(var i=0,max=hopeGroup.length;i<max;i++){%>
                             <label class="radio-inline"><input type="radio" class="" name="hopeGroup" value="" <%if(hopeGroup[i]==user.readerGroup){%> checked <%}%> ><%=hopeGroup[i]%></label>
                             <%}%>
							</div>
						</div>
						<div class="form-group">
							<label for="">专业：</label>
							<input type="text" value="<%=user.readerMajor%>" id="readerMajor">
						</div>
						<p class="button-group button-group-2"><button type="button" id="save">确认</button><a class="button" href="javascript:history.go(-1);location=location"  title="返回">返回</a></p>
					</form>
					<%}else{%>
					<form form-data="admin" id="user-form">
						<div class="form-group" >
							<label for="">用户名：</label>
							<input type="text" value="<%=user.adminName%>" id="adminName">
						</div>
						<div class="form-group">
							<label for="">权限：</label>
							<div class="radio">
								<label class="radio-inline" user-type="super"><input type="radio" name="permission" value="" <%if(user.adminPermissions=="super"){%> checked<%}%> >超级管理员</label>
								<label class="radio-inline" user-type="book"><input type="radio" name="permission" value="" <%if(user.adminPermissions=="book"){%> checked<%}%> >图书管理员</label>
								<label class="radio-inline" user-type="camera"><input type="radio" name="permission" value="" <%if(user.adminPermissions=="camera"){%> checked<%}%> >设备管理员</label>
							</div>
						</div>

						<div class="form-group">
							<label for="">邮箱：</label>
							<input type="text" id="readerEmail" value="<%=user.adminEmail%>" >
						</div>
						<p class="button-group button-group-2"><button type="button" id="save">确认</button><a class="button" href="javascript:history.go(-1);location=location"  title="返回">返回</a></p>
					</form>
					<%}%>
				</div>
			</div>
		</div>
		<%- include("./../public/back/footer.ejs") %>
		<script src="/js/adminModifyuser.js"></script>
	</body>
</html>