<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/admin/admin-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/admin/admin-nav.ejs") %>
            <section class="main-right-form floatfix">
                <form >
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" value="<%= userName %>" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text"  id="readerEmail" value="<%=user.adminEmail%>">
                    </div>
                    <div class="main-right-form-file form-group">
                        <label>头像</label>
                        <img src="<%= userImg %>" alt="">
                        <input id="user-img" type="file" value="">
                    </div>
                    <div class="main-right-form-button clearfix">
                        <div class="main-right-form-button-confirm">
                            <input type="button" value="保存" id="save">
                        </div>
                        <div class="main-right-form-button-cancel">重置</div>
                    </div>
                </form>
            </section>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/adminModify.js"></script>
<script src="/js/public/logout.js"></script>
<script src="/js/form-reset.js"></script>
</body>
</html>