<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/admin/admin-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/admin/admin-nav.ejs") %>
            <section class="main-right-form floatfix">
                <form >
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" value="<%= userName %>" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text"  id="readerEmail" value="<%=user.adminEmail%>">
                    </div>
                    <div class="main-right-form-file form-group">
                        <label>头像</label>
                        <img src="<%= userImg %>" alt="" id="js-upload-img">
                        <input id="js-upload-input" type="file" value="">
                    </div>
                    <%- include("./../public/form-btn.ejs")%>
                </form>
            </section>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/upload.js"></script>
<script src="/js/admin-modify.js"></script>
<script src="/js/form-reset.js"></script>
</body>
</html>