<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/admin/admin-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/admin/admin-nav.ejs") %>
            <section class="main-right-form floatfix">
                <form >
                    <div class="form-group">
                        <label>新密码</label>
                        <input type="password"  id="reset-password">
                    </div>
                    <div class="form-group">
                        <label>密码确认</label>
                        <input type="password" id="config-password">
                    </div>
                    <%- include("./../public/form-btn.ejs")%>
                </form>
            </section>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/public/form-reset.js"></script>
<script src="/js/public/hajax.js"></script>
<script>
    $('#save').click(function(){
        var val1=$("#reset-password").val();
        var val2=$("#config-password").val();
        if(val1.length==0){
            layer.alert('请至少输入6位密码', {
                skin: 'layui-layer-molv',
                closeBtn: 0,
                shift: 2
            });
            return;
        };
        if(val2.length==0){
            layer.alert('请确认密码', {
                skin: 'layui-layer-molv',
                closeBtn: 0,
                shift: 2
            });
            return;
        }
        if(val1!==val2){
            layer.alert('两次输入密码不一致', {
                skin: 'layui-layer-molv',
                closeBtn: 0,
                shift: 2
            });
            return;
        }
        hajax.hformAjax({
            data:{password:val1},
            redirect:'/admin'
        })
    })
</script>
</body>
</html>