<!DOCTYPE html>
<html>
	<%- include("./../public/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/sidebar.ejs") %>
			<div class="user-right">
				<%- include("./../public/userinfo.ejs") %>
				<div class="user-oparate">
					<nav>
						<ul class="nav-itme-container floatfix">
							<li class="nav-item nav-item-cur"><a href="#">用户管理</a></li>
							<li class="nav-item"><a href="/admin/admin-book">图书管理</a></li>
							<li class="nav-item"><a href="#">设备管理</a></li>
							<li class="nav-item"><a href="#">增加用户</a></li>
						</ul>
					</nav>
					<%if(user.length>0){%>
					<table class="operate-list-container">
					<thead>
						<tr>
							<th class="username">用户名</th>
							<th class="hopegroup">厚朴组</th>
							<th class="user-permission">角色</th>
							<th class="admin-user-oparate">操作</th>
						</tr>
					</thead>
					<tbody>
					<%if(user.length>10){var max=10}else{var max=user.length}%>
					<%for(var i=0;i<max;i++){%>
						<tr>
							<td class="username"><%=user[i].adminName%><%=user[i].readerName%></td>
							<%if(user[i].readerGroup){%>
							<td class="hopegroup"><%=user[i].readerGroup%></td>
							<%}else{%>
							<td class="hopegroup"></td>
							<%}%>
							<%if(user[i].adminPermissions=="super"){%>
							<td class="user-permission">超级管理员</td>
							<%}else if(user[i].adminPermissions=="camera"){%>
							<td class="user-permission">设备管理员</td>
							<%}else if(user[i].adminPermissions=="book"){%>
							<td class="user-permission">图书管理员</td>
							<%}else{%>
							<td class="user-permission">普通用户</td>
							<%}%>
							<%if(user[i].readerGroup){%>
							<td class="admin-user-oparate">
								<span><a href="/admin/adminmodifyuser/user<%=user[i].readerID%>" class="modify-user" user-data="user<%=user[i].readerID%>">修改</a></span>
								<span><a href="javascript:" class="drop-user" user-data="user<%=user[i].readerID%>">删除</a></span>
							</td>
							<%}else{%>
							<td class="admin-user-oparate">
								<span><a href="/admin/adminmodifyuser/admin<%=user[i].adminID%>" class="modify-user" user-data="admin<%=user[i].adminID%>">修改</a></span>
								<span><a href="javascript:" class="drop-user" user-data="admin<%=user[i].adminID%>">删除</a></span>
							</td>
							<%}%>
						</tr>
					<%}%>
					</tbody>
					</table>
					<%if(userPageNum>1){%>
                    <div class="page-control">
                    	<%for(var k=1;k<=userPageNum;k++){%>
                    	 <span <%if(k==userPage){%> class="page-cur"<%}%>><a href="/admin/admin-user?pageTab=<%=k%>"><%=k%></a></span> 
                    	<%}%>
                    <%}%>
                    <%}else{%>
					<p class="no-borrow">当前暂无成员</p>
                   <%}%>
                   </div>
				</div>
			</div>
		</div>
		<%- include("./../public/footer.ejs") %>
		<script src="/js/admin.js"></script>
	</body>
</html>