<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>厚朴工作室图书借阅系统</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" />
		<script src="/js/public/jquery-hope.js"></script>
		<script src="/js/layer/layer.js"></script>
	</head>
	<body>
		<div class="topbar">
			<div class="container floatfix">
				<div class="topbar-left">图书借阅、设备预约系统</div>
				<div class="topbar-right">
					<span><a href="#"><i class="fa fa-home"></i>网站首页</a></span>
					<span><a href="#"><i class="fa fa-sign-out"></i>退出</a></span>
				</div>
			</div>
		</div>
		<div class="main-content container floatfix">
			<div class="user-left">
				<div class="user-img">
					<a href="/admin"><img src="<%=userImg%>" alt=""></a>
					<p>欢迎你，<%=userName%></p>
				</div>
				<div class="user-menu">
					<h1><i class="fa fa-cog"></i>账号</h1>
					<ul class="menu-list">
						<li class="menu-list-item"><a href="/admin/modify">修改信息</a></li>
						<li class="menu-list-item"><a href="/admin/reset">修改密码</a></li>
					</ul>
				</div>
			</div>
			<div class="user-right">
				<div class="user-info">
					<h1>基本信息</h1>
					<ul class="basic-info floatfix">
						<li class="basic-info-item floatfix">
							<div class="info-item-icon">
								<i class="fa fa-credit-card"></i>
							</div>
							<div class="info-item-right">
								<p>用户组别</p>
								<p>超级管理员</p>
							</div>
						</li>
						<li class="basic-info-item floatfix">
							<div class="info-item-icon">
								<i class="fa fa-user"></i>
							</div>
							<div class="info-item-right">
								<p>登录账号</p>
								<p><%=userName%></p>
							</div>
						</li>
					</ul>
				</div>
				<div class="user-oparate">
					<nav>
						<ul class="nav-itme-container floatfix">
							<li class="nav-item nav-item-cur"><a href="#">用户管理</a></li>
							<li class="nav-item"><a href="">图书管理</a></li>
							<li class="nav-item"><a href="#">设备管理</a></li>
							<li class="nav-item"><a href="#">增加用户</a></li>
						</ul>
					</nav>
					<%if(user.length>0){%>
					<table class="operate-list-container">
					<thead>
						<tr>
							<th class="username">用户名</th>
							<th class="hopegroup">厚朴组</th>
							<th class="user-permission">角色</th>
							<th class="admin-user-oparate">操作</th>
						</tr>
					</thead>
					<tbody>
					<%if(user.length>10){var max=10}else{var max=user.length}%>
					<%for(var i=0;i<max;i++){%>
						<tr>
							<td class="username"><%=user[i].adminName%><%=user[i].readerName%></td>
							<%if(user[i].readerGroup){%>
							<td class="hopegroup"><%=user[i].readerGroup%></td>
							<%}else{%>
							<td class="hopegroup"></td>
							<%}%>
							<%if(user[i].adminPermissions=="super"){%>
							<td class="user-permission">超级管理员</td>
							<%}else if(user[i].adminPermissions=="camera"){%>
							<td class="user-permission">设备管理员</td>
							<%}else if(user[i].adminPermissions=="book"){%>
							<td class="user-permission">图书管理员</td>
							<%}else{%>
							<td class="user-permission">普通用户</td>
							<%}%>
							<%if(user[i].readerGroup){%>
							<td class="admin-user-oparate">
								<span><a href="" class="modify-book" user-data="user<%=user[i].readerID%>">修改</a></span>
								<span><a href="" class="modify-book" user-data="user<%=user[i].readerID%>">删除</a></span>
							</td>
							<%}else{%>
							<td class="admin-user-oparate">
								<span><a href="" class="modify-book" user-data="admin<%=user[i].adminID%>">修改</a></span>
								<span><a href="" class="modify-book" user-data="admin<%=user[i].adminID%>">删除</a></span>
							</td>
							<%}%>
						</tr>
					<%}%>
					</tbody>
					</table>
					<%if(userPageNum>1){%>
                    <div class="page-control">
                    	<%for(var k=1;k<=userPageNum;k++){%>
                    	 <span <%if(k==userPage){%> class="page-cur"<%}%>><a href="/admin/admin-user?pageTab=<%=k%>"><%=k%></a></span> 
                    	<%}%>
                    <%}%>
                    <%}else{%>
					<p class="no-borrow">当前暂无成员</p>
                   <%}%>
                   </div>
				</div>
			</div>
		</div>
		<footer>
		<div class="container">
			<p>技术支持：厚朴〖HOPE〗工作室</p>
			</div>
		</footer>
		<script src="/js/adminbook.js"></script>
	</body>
</html>