<!DOCTYPE html>
<html>
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
	<div class="container clearfix">
        <%- include("./../public/user/user-aside.ejs") %>
		<section class="main-right">
            <%- include("./../public/user/user-nav.ejs") %>
			<section class="main-right-table">
				<table>
                    <%if(equip.length>0){%>
					<thead>
					<tr>
						<th class="t-4 left t-left-padding">设备</th>
						<th class="t-2 center">预约时间</th>
						<th class="t-1 center">状态</th>
                        <th class="t-2 center">应还时间</th>
						<th class="t-1 center t-right-padding">操作</th>
					</tr>
					</thead>
					<tbody>
                    <%for(var i=0,max=equip.length;i<max;i++){%>
					<tr>
						<td class="left t-left-padding"><%= equip[i].equipName %></td>
						<td class="center"><%= equip[i].borrowTime %></td>
                        <%if(equip[i].reservation==0){%>
						<td class="center">审核中</td>
                        <td class="center"></td>
						<td class="center t-right-padding main-right-table-manage">
						</td>
                        <%} else {%>
                        <td class="center">审核通过</td>
                        <td class="center"><%=equip[i].returnBefore%></td>
                        <td class="center t-right-padding main-right-table-manage">
                            <span><a href="javascript:" class="js-return-btn" data-equipid="<%=equip[i].borrowEquipID%>" data-borrowid="<%=equip[i].borrowID%>">归还</a></span>
                        </td>
                        <%}%>
					</tr>
                    <%}%>
					</tbody>
                    <%} else {%>
					<th class="t-10 center">当前暂无预约</th>
                    <%}%>
				</table>
			</section>
		</section>
	</div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/public/hajax.js"></script>
<script>
    $(".js-return-btn").click(function(){
        var equipID=$(this).attr("data-equipid"),
            borrowID=$(this).attr("data-borrowid");
        hajax.ajax({
            data:{"equipID":equipID,"borrowID":borrowID},
			redirect:location.href
		})
	})
</script>
</body>
</html>