<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
	<div class="container clearfix">
        <%- include("./../public/admin/admin-aside.ejs") %>
		<section class="main-right">
            <%- include("./../public/admin/admin-nav.ejs") %>
			<section class="main-right-table">
				<table>
                    <%if(equip.length>0){%>
					<thead>
					<tr>
						<th class="t-4 left t-left-padding">设备</th>
						<th class="t-2 center">管理员</th>
						<th class="t-1 center">状态</th>
						<th class="t-2 center">借用人</th>
						<th class="t-1 center t-right-padding">操作</th>
					</tr>
					</thead>
					<tbody>
                    <%if(equip.length>10){var max=10;}else{var max=equip.length;}%>
                    <%for(var i=0;i<max;i++){%>
					<tr>
						<td class="left t-left-padding"><%=equip[i].equipName%></td>
						<td class="center"><%=equip[i].adminName%></td>
                        <%if(equip[i].equipLeft==0){%>
						<td class="center">已借出</td>
						<td class="center"><%=borrower[i]%></td>
						<td class="center t-right-padding main-right-table-manage">
							<span><a href="/admin/equipmodify/<%=equip[i].equipID%>">修改</a></span>
						</td>
                        <%}else{%>
						<td class="center">在架上</td>
						<td class="center"></td>
						<td class="center t-right-padding main-right-table-manage">
							<span><a href="/admin/equipmodify/<%=equip[i].equipID%>">修改</a></span>
						</td>
                        <%}%>
					</tr>
                    <%}%>
					</tbody>
				</table>
			</section>
            <%if(equipNum>1){%>
			<section class="main-right-page-num">
                <%for(var k=1;k<=equipNum;k++){%>
				<span <%if(k==equipPage){%> class="main-right-page-num-active"<%}%>><a href="/admin/admin-book?pageTab=<%=k%>"><%=k%></a></span>
                <%}%>
                <%}%>
			</section>
            <%}else{%>
			<table>
				<th class="t-10 center">当前架上尚无图书</th>
			</table>
            <%}%>
		</section>
	</div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/adminbook.js"></script>
<script src="/js/public/logout.js"></script>
</body>
</html>