<!DOCTYPE html>
<html>
	<%- include("./../public/back/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/back/sidebar.ejs") %>
			<div class="user-right">
				<%- include("./../public/back/userinfo.ejs") %>
				<div class="user-oparate">
					<nav>
						<ul class="nav-itme-container floatfix">
							<li class="nav-item nav-item-cur"><a href="#">当前借阅</a></li>
							<li class="nav-item"><a href="#">借阅历史</a></li>
						</ul>
					</nav>
					<%if(book.length>0){%>
					<table class="operate-list-container">
					<thead>
						<tr>
							<th class="bookname">图书名</th>
							<th class="borow-time">借阅时间</th>
							<th class="return-time">应还时间</th>
							<th class="main-oparate">操作</th>
						</tr>
					</thead>
					<tbody>
						<%for(var i=0,max=book.length;i<max;i++){%>
						<tr>
							<td class="bookname"><%=book[i].bookName%></th>
							<td class="borow-time"><%=book[i].borrowTime%></th>
							<td class="return-time"><%=book[i].returnBefore%></th>
							<td class="main-oparate">
								<span><a href="javascript:" class="returnBtn" borrowid="<%=book[i].borrowID%>" bookid="<%=book[i].bookID%>">归还</a></span>
							</td>
						</tr>
						<%}%>
					</tbody>
					</table>
					<%}else{%>
					<p class="no-borrow">当前暂无借阅！</p>
                   <%}%>
				</div>
			</div>
		</div>
		<%- include("./../public/back/footer.ejs") %>
		<script src="/js/user.js"></script>
	</body>
</html>