<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
    <%- include("./../public/header.ejs") %>
    <%- include("./../public/banner.ejs") %>
    <section class="main">
        <div class="container clearfix">
            <%- include("./../public/user/user-aside.ejs") %>
            <section class="main-right">
                <%- include("./../public/user/user-nav.ejs") %>
                <section class="main-right-table">
                    <table>
                        <%if(book.length>0){%>
                        <thead>
                        <tr>
                            <th class="t-4 left t-left-padding">图书</th>
                            <th class="t-2 center">借阅时间</th>
                            <th class="t-2 center">应还时间</th>
                            <th class="t-2 center t-right-padding">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%for(var i=0,max=book.length;i<max;i++){%>
                        <tr>
                            <td class="left t-left-padding"><%= book[i].bookName %></td>
                            <td class="center"><%=book[i].borrowTime%></td>
                            <td class="center"><%=book[i].returnBefore%></td>
                            <td class="center t-right-padding main-right-table-manage">
                                <span><a href="javascript:" class="js-return-btn" data-borrowid="<%=book[i].borrowID%>" data-bookid="<%=book[i].bookID%>">归还</a></span>
                            </td>
                        </tr>
                        <%}%>
                        </tbody>
                        <%} else {%>
                        <thead>
                            <th class="t-10 center">当前暂无借阅</th>
                        </thead>
                        <%}%>
                    </table>
                </section>
            </section>
        </div>
    </section>
    <%- include("./../public/footer.ejs") %>
    <!--<script src="/js/user.js"></script>-->
    <script src="/js/public/hajax.js"></script>
    <script>
        $('.js-return-btn').click(function(){
            var bookID=$(this).attr("data-bookid"),
                borrowID=$(this).attr("data-borrowid");
            hajax.hformAjax({
                data:{"bookID":bookID,"borrowID":borrowID},
                redirect: '/user'
            })
        })
    </script>
</body>
</html>