<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/user/user-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/user/user-nav.ejs") %>
            <% if( equip.length > 0) { %>
            <section class="main-right-borrow">
                <ul class="main-right-borrow-list clearfix">
                    <% for(var i = 0, max = equip.length; i < max; i++) {%>
                    <li class="main-right-borrow-list-item">
                        <div class="main-right-borrow-list-item-img">
                            <img src="<%= equip[i].equipImgSrc %>" alt="">
                        </div>
                        <div class="main-right-borrow-list-item-message">
                            <h4> <%= equip[i].equipName %> </h4>
                            <p>编号：<%= equip[i].equipHopeID %> </p>
                            <% if(equip[i].equipLeft <= 0) { %>
                            <button disabled="disabled">已借出</button>
                            <% } else {%>
                            <button data-reservationID=<%= equip[i].equipID%> class="js-borrow-btn">预约</button>
                            <% } %>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </section>
            <% } else { %>
            <section class="main-right-table">
                <table>
                    <thead>
                    <th class="t-10 center">当前暂无设备</th>
                    </thead>
                </table>
            </section>
            <% } %>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/public/hajax.js"></script>
<script src="/js/equip-reservation.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>