<!DOCTYPE html>
<html lang="zh">
<%- include("./../public/head.ejs") %>
<body>
<%- include("./../public/header.ejs") %>
<%- include("./../public/banner.ejs") %>
<section class="main">
    <div class="container clearfix">
        <%- include("./../public/user/user-aside.ejs") %>
        <section class="main-right">
            <%- include("./../public/user/user-nav.ejs") %>
            <section class="main-right-form floatfix">
                <form >
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" value="<%= userName %>" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label>性别</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="sex" <%if(user.readerSex=="男"){%> checked<%}%>>
                                男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" <%if(user.readerSex=="女"){%> checked<%}%>>
                                女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>学号</label>
                        <input type="text" id="studentNumber" value="<%= user.studentNumber %>" >
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text"  id="readerEmail" value="<%=user.readerEmail%>">
                    </div>
                    <div class="form-group">
                        <label>手机</label>
                        <input type="text" id="readerPhone" value="<%=user.readerPhone%>">
                    </div>
                    <div class="form-group">
                        <label>厚朴组</label>
                        <div class="radio">
                            <%for(var i=0,max=hopeGroup.length;i<max;i++){%>
                            <label class="radio-inline">
                                <input type="radio" class="" name="hopeGroup" value="" <%if(hopeGroup[i]==user.readerGroup){%> checked <%}%> ><%=hopeGroup[i]%>
                            </label>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>专业</label>
                        <input type="text"  id="readerMajor" value="<%=user.readerMajor%>">
                    </div>
                    <div class="main-right-form-file form-group">
                        <label>头像</label>
                        <img src="<%= user.userImgSrc %>" alt="" id="js-upload-img">
                        <input type="file" value="" id="js-upload-input">
                    </div>
                    <%- include("./../public/form-btn.ejs")%>
                </form>
            </section>
        </section>
    </div>
</section>
<%- include("./../public/footer.ejs") %>
<script src="/js/upload.js"></script>
<!--<script src="/js/userModify.js"></script>-->
<script src="/js/form-reset.js"></script>
<script src="/js/public/hajax.js"></script>
<script>
    $('#save').click(function(){
        hajax.hformAjax({
            input:{studentNumber:'studentNumber',readerEmail:'readerEmail',readerPhone:'readerPhone',readerMajor:'readerMajor',readerName:'readerName'},
            attr:{readerImgSrc:['js-upload-img','src']},
            radio:{sex:'sex',readerGroup:'hopeGroup'},
            redirect:'/user'
        })
    })
</script>
</body>
</html>