<!DOCTYPE html>
<html>
<%- include("./../public/front/header.ejs") %>
     <div class="main-content">
            <div class="container">
                <ul class="equip-container floatfix">
                <% for(var i = 0, max = equip.length;i<max;i++){%>
                    <li class="equip-list-item <%if((i+1)%5==0){%>equip-list-item-last<%}%>">
                        <img src="<%=equip[i].equipImgSrc%>" alt="">
                        <%if(equip[i].equipLeft==0){%>
                        <div class="img-mask" style="height:220px">
                        </div>
                        <%}%>
                        <p class="">设备名：<%=equip[i].equipName%></p>
                        <p class="">编号：<%=equip[i].equipHopeID%></p>
                        <button type="" class="borrow-btn" data-equipID="<%=equip[i].equipID%>"<%if(equip[i].equipLeft==0){%>disabled<%}%>>预约</button>
                    </li>
                <%}%>
                </ul>
            </div>
        </div>
<%- include("./../public/front/footer.ejs") %>
<script src="/js/equip-reservation.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
