<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>厚朴工作室图书借阅系统</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" />
		<script src="/js/public/jquery-hope.js"></script>
		<script src="/js/layer/layer.js"></script>
	</head>
	<body>
		<div class="topbar">
			<div class="container floatfix">
				<div class="topbar-left">图书借阅、设备预约系统</div>
				<div class="topbar-right">
					<span><a href="#"><i class="fa fa-home"></i>网站首页</a></span>
					<span><a href="#"><i class="fa fa-sign-out"></i>退出</a></span>
				</div>
			</div>
		</div>
		<div class="main-content container floatfix">
			<div class="user-left">
				<div class="user-img">
					<a href="/admin"><img src="<%=userImg%>" alt=""></a>
					<p>欢迎你，<%=userName%></p>
				</div>
				<div class="user-menu">
					<h1><i class="fa fa-cog"></i>账号</h1>
					<ul class="menu-list">
						<li class="menu-list-item"><a href="/admin/modify">修改信息</a></li>
						<li class="menu-list-item"><a href="/admin/reset">修改密码</a></li>
					</ul>
				</div>
			</div>
			<div class="user-right">
				<div class="user-info">
					<h1>基本信息</h1>
					<ul class="basic-info floatfix">
						<li class="basic-info-item floatfix">
							<div class="info-item-icon">
								<i class="fa fa-credit-card"></i>
							</div>
							<div class="info-item-right">
								<p>用户组别</p>
								<p>图书管理员</p>
							</div>
						</li>
						<li class="basic-info-item floatfix">
							<div class="info-item-icon">
								<i class="fa fa-user"></i>
							</div>
							<div class="info-item-right">
								<p>登录账号</p>
								<p><%=userName%></p>
							</div>
						</li>
					</ul>
				</div>
				<div class="user-oparate">
					<form>
						<div class="form-group">
							<label for="">图书名：</label>
							<input type="text" value="<%=book.bookName%>" id="bookName" >
						</div>
						<div class="form-group">
							<label for="">厚朴编号：</label>
							<input type="text" value="<%=book.bookHopeID%>" id="hopeID">
						</div>
						<div class="form-group">
							<label for="">分类：</label>
							<div class="radio">
							<%for(var i=0,max=bookCate.length;i<max;i++){%>
                            	<label class="radio-inline"><input type="radio" name="bookGroup" value="" <%if(bookCate[i]==book.bookCate){%> checked <%}%> ><%=bookCate[i]%></label>
                            <%}%>
							</div>
						</div>
						<div class="form-group">
							<label for="">作者：</label>
							<input type="text"  value="<%=book.bookAuthor%>" id="bookAuthor">
						</div>
						<div class="form-group">
							<label for="">ISBN：</label>
							<input type="text" id="bookISBN" value="<%=book.bookISBN%>" >
						</div>
						<div class="form-group">
							<label for="">出版社：</label>
							<input type="text" id="bookPress" value="<%=book.bookPress%>" >
						</div>
						<p class="button-group button-group-2"><button type="button" id="save">保存</button><a class="button" href="javascript:history.go(-1);location=location"  title="返回">返回</a></p>
					</form>
				</div>
			</div>
		</div>
		<footer>
		<div class="container">
			<p>技术支持：厚朴〖HOPE〗工作室</p>
			</div>
		</footer>
		<script src="/js/addbook.js"></script>
	</body>
</html>