<!DOCTYPE html>
<html>
<%- include("./../public/back/header.ejs") %>
		<div class="main-content container floatfix">
			<%- include("./../public/back/sidebar.ejs") %>
			<div class="user-right">
			    <%- include("./../public/back/userinfo.ejs") %>
				<div class="user-oparate">
				    <%- include("./../public/back/user-nav.ejs") %>
					<%if(book.length>0){%>
					<table class="operate-list-container">
					<thead>
						<tr>
							<th class="admin-bookname bookname">图书名</th>
							<th class="book-hopeID">编号</th>
							<th class="book-state">状态</th>
							<th class="borrow-person">借阅人</th>
							<th class="admin-main-oparate main-oparate">操作</th>
						</tr>
					</thead>
					<tbody>
					    <%if(book.length>10){var max=10;}else{var max=book.length;}%>
						<%for(var i=0;i<max;i++){%>
						<tr>
							<td class="bookname"><%=book[i].bookName%></td>
							<td class="book-hopeID"><%=book[i].bookHopeID%></td>
							<%if(book[i].bookLeft==0){%>
							<td class="borow-state">已借出</td>
							<td class="borrow-person"><%=borrower[i]%></td>
							<td class="main-oparate">
								<span><a href="/admin/bookmodify/<%=book[i].bookID%>" class="modify-book"  >修改</a></span>
								
							</td>
							<%}else{%>
							<td class="borow-state">在架上</td>
							<td class="borrow-person"></td>
							<td class="main-oparate">
								<span><a href="/admin/bookmodify/<%=book[i].bookID%>" class="modify-book"  >修改</a></span>
							</td>
                            <%}%>
							
						</tr>
						<%}%>
					</tbody>
					</table>
                    <%if(bookNum>1){%>
                    <div class="page-control">
                    <%if(bookNum>10){if(bookPage==1 || bookPage==bookNum){%>
                    	<span <%if(bookPage==1){%> class="page-cur"<%}%>><a href="/admin/admin-book?pageTab=1">1</a></span>
                    	<span><a href="/admin/admin-book?pageTab=2">2</a></span>
                    	<span><a href="/admin/admin-book?pageTab=3">3</a></span>
                    	<span><a href="">...</a></span>
                    	<span><a href="/admin/admin-book?pageTab=<%=bookNum-2%>"><%=bookNum-2%></a></span>
                    	<span><a href="/admin/admin-book?pageTab=<%=bookNum-1%>"><%=bookNum-1%></a></span>
                    	<span <%if(bookNum==bookPage){%> class="page-cur"<%}%>><a href="/admin/admin-book?pageTab=<%=bookNum%>"><%=bookNum%></a></span>
                    <%}else{%>
                        <span><a href="/admin/admin-book?pageTab=1">1</a></span>
                        <%if(bookPage>3){%>
                        <span><a href="">...</a></span>
                        <%}%>
                        <%if(bookPage>=3){%>
                        <span><a href="/admin/admin-book?pageTab=<%=bookPage-1%>"><%=parseInt(bookPage)-1%></a></span>
                        <%}%>
                    	<span class="page-cur"><a href="/admin/admin-book?pageTab=<%=bookPage%>"><%=bookPage%></a></span>
                    	<%if(bookPage<(parseInt(bookNum)-1)){%>
                    	<span><a href="/admin/admin-book?pageTab=<%=parseInt(bookPage)+1%>"><%=parseInt(bookPage)+1%></a></span>
                    	<%}%>
                    	<%if(bookPage<(parseInt(bookNum)-2)){%>
                    		<span><a href="">...</a></span>
                    	<%}%>
                    	<span><a href="/admin/admin-book?pageTab=<%=bookNum%>"><%=bookNum%></a></span>
                    	<%}}else{%>
                    	<%for(var k=1;k<=bookNum;k++){%>
                    	 <span <%if(k==bookPage){%> class="page-cur"<%}%>><a href="/admin/admin-book?pageTab=<%=k%>"><%=k%></a></span> 
                    	<%}%>
                    <%}%>
                    <%}%>
					<%}else{%>
					<p class="no-borrow">当前暂无书籍！</p>
                   <%}%>
                   </div>
				</div>
			</div>
		</div>
<%- include("./../public/back/footer.ejs") %>
<script src="/js/adminbook.js"></script>
<script src="/js/public/loginout.js"></script>
	</body>
</html>